<div id="main-container">
  <button (click)="addUser()">Add User</button>
  <div class="table-container">
    <table mat-table [dataSource]="tableData">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="mode-column">Id</th>
        <td mat-cell *matCellDef="let user">
          {{user.id}}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="mode-column">Name</th>
        <td mat-cell *matCellDef="let user">
          {{user.firstName+' '}}{{user.lastName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef class="mode-column">Age</th>
        <td mat-cell *matCellDef="let user">
          {{user.age}}
        </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="mode-column">Address</th>
        <td mat-cell *matCellDef="let user">{{user.address}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="mode-column"></th>
        <td mat-cell *matCellDef="let user"><mat-icon (click)="editUser(user)">edit</mat-icon></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" role="button"></tr>
    </table>
  </div>
</div>
@if (displayPopup) {
<div class="popup" id="popup">
  <app-popup [popupMode]="popupMode" (close)="hidePopup()" [selectedUserDetails]="selectedUserDetails"
    (newUserDetails)="updateUserDetails($event)"></app-popup>
</div>
}