:host ::ng-deep .blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    pointer-events: none;
}

.popup {
    position: absolute;
    top: 18vh;
    background: #ffffff;
    width: 48%;
    left: 26%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    color: #25355d;
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
}