/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.required-field {
    color: red !important;
}

.ml-4 {
    margin-left: 4% !important;
}

.w-92 {
    width: 92% !important;
}